/* Общие стили */
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#container {
    background-color: white;
    padding: 5%; /* Относительные отступы */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 80%; /* Контейнер занимает 80% ширины экрана */
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

/* Стили для обложки */
#cover {
    position: relative;
    width: 100%;
    text-align: center;
}

#coverImage {
    max-width: 90%;
    max-height: 70%;
    border-radius: 8px;
    margin-bottom: 5%;
    object-fit: contain;
}

#playButton {
    padding: 3% 6%; /* Относительные отступы */
    background-color: #FFC107;
    color: #333;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em; /* Относительный размер шрифта */
}

#playButton:hover {
    background-color: #FFA000;
}

/* Стили для вопросов */
#question {
    font-size: 1.5em; /* Относительный размер шрифта */
    margin-bottom: 5%;
}

#answers button {
    display: block;
    width: 100%;
    padding: 3%; /* Относительные отступы */
    margin-bottom: 2%;
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em; /* Относительный размер шрифта */
    text-align: left;
}

#answers button:hover {
    background-color: #f0f0f0;
}

#answers button.selected {
    background-color: #a1a1a1;
    color: #333;
}

#nextButton {
    padding: 3% 6%; /* Относительные отступы */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em; /* Относительный размер шрифта */
    display: none;
    margin-top: 5%;
}

#nextButton:hover {
    background-color: #367c39;
}

/* Стили для результата */
#result {
    text-align: center;
}

#result img {
    width: 80%; /* Изображение занимает 80% ширины контейнера */
    max-width: 500px; /* Максимальная ширина изображения - 500px */
    border-radius: 8px;
    margin-top: 5%;
}

/* Адаптивные стили */
@media (max-width: 600px) {
    #container {
        width: 90%; /* Контейнер занимает 90% ширины экрана */
        padding: 3%; /* Меньшие отступы */
    }
    #question {
        font-size: 1.2em; /* Меньший размер шрифта */
    }
    #answers button {
        font-size: 0.9em; /* Меньший размер шрифта */
    }
}

@media (min-width: 1200px) {
    #container {
        max-width: 800px; /* Большая максимальная ширина контейнера */
        padding: 4%; /* Большие отступы */
    }
    #question {
        font-size: 1.8em; /* Больший размер шрифта */
    }
    #answers button {
        font-size: 1.1em; /* Больший размер шрифта */
    }
}
